# cmake build binary tree directory
build/
cmake-build-*/

# directory used for testing installation through cmake
install/

# custom makefile with useful recipes
Makefile

# vscode json files
.vscode

# clion stuff
.idea

# custom main for testing various things
main.cpp